.container {
  background: black;
  color: white;
  height: 80vh;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.logo_img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 2rem;
  z-index: 1;
  border: 1px solid var(--primary-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Add other styles as needed */
}

.navbar-links {
  margin-left: 25rem;
}
.navbar-links > a:link {
  padding: 20px;
  margin-left: 30px;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 35px;
  transition: var(--transition);
}

.navbar-links > a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar-links a:hover {
  background: var(--primary-color);
  color: black;
}

.intro__panel {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 50px;
  height: 70vh;
}

.right__panel {
  margin-bottom: 15rem;
  margin-left: 50px;
}

.cta {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2.5rem;
}

.motto {
  margin-top: 5rem;
  margin-left: 60px;
  font-size: 30px;
  text-align: center;
  padding: auto;
  margin-bottom: 12px;
  color: var(--primary-color);
}

.motto_text {
  margin-left: 60px;
  text-align: center;
}

.panel__img {
  margin-bottom: 70px;
  width: 40%; /* Adjust the width as needed */
  height: auto;
  margin-left: 10rem;
  margin-right: 2rem;
  border-radius: 20px;
}

.responsive__menu {
  color: var(--primary-color);
  font-size: 3rem;
}

.moblieMenu-icon {
  visibility: hidden;
}

@media (max-width: 1024px) {
  .logo_img {
    margin-top: 0px;
  }

  .header {
    height: 100px;
  }

  .intro__panel,
  .right__panel {
    flex-direction: column;
  }

  .right__panel {
    height: 100px;
  }

  .panel__img {
    width: 50%;
    padding-right: 5px;
    margin-left: 46px;
    margin-top: 0px;
  }

  .motto_text {
    text-align: center;
    padding-right: 30px;
    margin-left: 10px;
  }

  .motto {
    margin-top: 2px;
    padding-right: 6rem;
  }

  .responsive__menu {
    display: flex;
    margin-top: 1rem;
    padding-left: 20rem;
  }

  .navbar-links {
    margin-left: 0;
  }
}

/* Smartphones */
@media (max-width: 600px) {
  .intro__panel,
  .right__panel {
    flex-direction: column;
  }

  .motto {
    font-size: 20px;
  }

  .cta {
    margin-left: -20px;
  }

  .panel__img {
    width: 80%;
    padding-left: 6px;
  }

  .navbar-links {
    display: none;
  }

  .moblieMenu-icon {
    visibility: visible;
    margin-left: 7rem;
  }

  .navbar-links2 {
    display: block;
    height: 230px;
    background: pink;
    margin-top: 20rem;
    bottom: 20rem;
  }
}
